# Use this file to define individuals or teams that are responsible for code in a repository.


# These owners will be the default owners for everything
* @clouddrove/approvers @clouddrove/contributors

# Admins must review all changes to CODEOWNERS or the mergify configuration
.github/CODEOWNERS  @anmolnagpal
